@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #1b1726;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.popular-content {
    display: flex;
    justify-content: center;
    gap: 20px; 
}


.product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
}


.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.footer .link {
    text-align: center;
}
